<form method = "POST" action = "/login">
    <input type="text" name="username" placeholder = "Username" class="form-control" value = "kitan">
    <input type="text" name="password" placeholder = "Username" class="form-control" value = "yo">
    <input type="submit" name="submit">
</form>
