<!DOCTYPE html>
<html>
  <head>
    <meta charset = "utf-8">
    <title>Page title</title>
  </head>
  <body>
    <h1>Hello World <!--<em>{{greetingName}}</em>--></h1>
  </body>
</html>

<!--Can fill this, creating whatever html template desired-->
