<form method = "POST" action = "/register">
    <input type="text" name="username" placeholder = "Username" class="form-control" value = "kitan">
    <input type="password" name="password" placeholder = "Password" class="form-control">
    <input type="password" name="passwordRepeat" placeholder = "Confirm Password" class="form-control">
    <input type="submit" name="submit">
</form>
